################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kentico.Marketplace
/packages
/.vs/FLS.Kentico.Marketplace/v16/Server/sqlite3
/FLS.Kentico.MvcWidget.Carousel/bin
/FLS.Kentico.MvcWidget.Carousel/obj
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.8.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.7.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.6.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.5.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.4.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.3.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.2.nupkg
/FLS.Kentico.MvcWidget.Carousel/FLS.Kentico.MvcWidget.Carousel.0.0.1.nupkg
/FLS.Kentico.MvcWidget.Carousel/App_Data/Global/Resources
/FLS.Kentico.MvcWidget.Carousel/Kentico
/FLS.Kentico.MvcWidget.Carousel/nuget.exe
